@import "styles/variables.scss";

#root {
  margin: 0 auto;
  padding: 0;
}
@keyframes appear {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes balance {
  from {
    transform: rotate(1.5deg);
  }

  to {
    transform: rotate(3s);
  }
}


main {
  min-height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: $bg-primary;
  font-size: 16px; 
  

  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    padding: 2%;

  .menu-options{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;

  a {
        font-weight: 500;
        font-size: 1rem;
        cursor: pointer;

        &:hover {
          color: $color-primary;
          transition: all 0.4s;
        }
      }
  }
  button {
    border-radius: 1.4rem;
    border: none;
    font-weight: 500;
    font-size: 1rem;
    background-color: transparent;
    overflow: hidden;
    position: relative;
    
    

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      cursor: pointer;
      padding: 2rem 3rem;
      border-radius: 2rem;
      border: none;
      height: 100%;
      width: 100%;
    }
    .btn-face-white { 
       color: rgb(51, 51, 51);
       background-color: #da2eb8; 
       z-index: 998;
      
    }
    .btn-face-purple { 
      background: linear-gradient(45deg, #7223cf, #da2eb8);
      color: white;
      display: none;
      z-index: 999;
      position: absolute;
      top: 0; 
    }

    &:hover {
      .btn-face-purple { 
        display: flex;
        animation: appear 300ms linear 150ms forwards;
      }
    }
  }
}

  .content-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-grow: 1;
    width: 95%;
    padding: 4%;

  .heading-container {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: flex-end;
      width: 70%;

  h2 {
      font-size: 3.875rem;
      font-weight: 800;
      color: #da2eb8;

      &:first-of-type {
        align-self: flex-start;
      }
    }
  }

  .buble {
      background-color: gray;
      padding: 1rem 1.125rem;
      border-radius: 50%;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;

      &.fire {
        right: 50px;
        transform: rotate(-20deg);
        bottom: 30%;
        font-size: 24px;
        width: 50px;
        height: 50px;
        transform: rotate(30deg);
        animation: balance 1.3s alternate 0.4s infinite;
        
      }

      &.rocket{
        top: 10%;
        right: 100px;
        font-size: 42px;
        width: 80px;
        height: 80px;
        transform: rotate(30deg);
        animation: balance 1.3s alternate 400ms infinite;
        
      }

      &.target{
        left: 10%;
        top: 5%;
        font-size: 72px;
        transform: rotate(30deg);
        animation: balance 1.3s alternate 400ms infinite;
        width: 100px;
        height: 100px;

      }

      &.shopp {
        bottom: 8%;
        left: 2%;
        font-size: 2.625rem;
        transform: rotate(30deg); 
        width: 70px;
        height: 70px;
        transform: rotate(30deg);
        animation: balance 1.3s alternate 0.4s infinite;
      }
    }
  }
}

/* Estilos para telas maiores */
@media screen and (min-width: 768px) {
  .heading-container {
    width: 50%; /* Por exemplo, ajuste o tamanho para telas maiores */
  }
}

/* Estilos para telas menores */
@media screen and (max-width: 480px) {
  .heading-container {
    width: 90%; /* Por exemplo, ajuste o tamanho para telas menores */
  }

  /* Adicione regras de estilo adicionais para telas menores */
}
